* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica";
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(120deg, #000 1%, #1a3555 80%);
  min-height: 100vh;
}

.navbar-wrapper {
  width: 100%;
  /* height: 3rem; */
  background: transparent;
  box-shadow: 0 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.4rem;
}

.logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.logo-image {
  width: 10rem;
}

.today-information {
  color: #fff;
  position: fixed;
  top: 10rem;
  left: 2rem;
}

.day {
  color: #fff;
  /* text-align: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0rem;
}
.date {
  color: #fff;
  /* text-align: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0rem;
  font-weight: 300;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.8rem;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #1a3555;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #1a3555;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #1a3555;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #1a3555;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1a3555;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
